/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* body */
* {
  margin: 0;
  padding: 0;
  font-family: var(--texto);
}

.index {
  height: 100vh;
  background-image: url("../../archivos/coaches/FondoCoaches.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parrfInicial {
  font-family: var(--texto);
  color: white;
  margin-left: 10%;
  margin-top: 15em;
}

.titulo {
  font-family: var(--titulo);
  font-size: 42px;
  margin-bottom: 1em;
}

.txtInicial {
  width: 60%;
  font-family: var(--texto);
  font-size: 24px ;
}

.info {
  font-family: var(--texto);
  margin-top: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.info h1 {
  text-align: center;
  font-size: 24px;
  padding-left: 15em;
  padding-right: 15em;
}

.testimonial-slider {
  position: relative;
  width: 65%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 1em;
}

.testimonial-item {
  display: none; /* ocultar todos los items y mostrar solo el activo */
  text-align: center;
  padding: 20px;
  font-family: var(--texto);
}

.testimonial-item h4 {
  color: var(--azulQQ);
  font-size: 1.5em;
  color: black;
}

.testimonial-item p {
  color: var(--azulQQ);
  font-size: 1.3em;
  color: black;
}

.testimonial-carrusel {
  display:flex;
  flex-direction: row;
  gap: 3%;
  margin: 1%;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-bottom: 10%;
  text-align: left;
}

.testimonial-text h4 {
  margin-bottom: 2%;
  font-family: var(--titulo);
  font-size: 24px;
}

.testimonial-icons {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 20%;
}

.testimonial-icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.active {
  display: block; /* mostrar el item activo */
}

.fotoTestimonio {
  width: 350px;
  height: 500px;
  margin-bottom: 1em;
}

.prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.next {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

@media (min-width: 1680px) {
  .parrfInicial {
    margin-top: 30em;
  }
}

.cardsCoaches {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  margin: 20px auto;
}

/* .icon-general{
  width: 70px !important;
  height: 70px !important;
} */