/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
  --azulsuave1: #b6add0;
  --azulsuave2: #d9d3ed;
}

/* body */
* {
  margin: 0;
  padding: 0;
  font-family: var(--texto);
}

.index {
  height: 100vh;
  background-image: url("../../archivos/coaches/FondoCoaches.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parrfInicial {
  font-family: var(--texto);
  color: white;
  margin-left: 10%;
  margin-top: 15em;
}

.titulo {
  font-family: var(--titulo);
  font-size: 42px;
  margin-bottom: 1em;
}

.txtInicial {
  width: 70%;
  font-family: var(--texto);
  font-size: 24px;
}

.info {
  font-family: var(--texto);
  margin-top: 55vh;
  display: flex;
  align-items: center;
  background-color: var(--azulsuave1);
  padding: 5px 10px;
}

.info p {
  color: var(--azulQQ);
  text-align: center;
  font-size: 1.2em;
  padding: 0 250px;
  letter-spacing: 1.5px;
}

.container {
  margin-top: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-family: var(--titulo);
  font-size: 2em;
}

.programas {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.programas img {
  width: 250px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px; /* Opcional: para bordes redondeados */
}

.programas img:hover {
  transform: scale(1.1); /* Aumenta la imagen al pasar el ratón */
}

/* grafico */
.grafico {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
}

.grafYfrase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.graficoFoto {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 55%;
  height: auto;
}

.graficoFoto img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.frase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.frase p {
  text-align: right;
  font-size: 1.2em;
  font-family: var(--texto);
  margin-left: 50px;
}

.explicacion {
  font-family: var(--texto);
  font-size: 1.2em;
  width: 70%;
  margin: 35px 110px;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.explicacion ul {
  margin-top: 10px;
  padding-left: 50px; /* Ajusta este valor según sea necesario para mover los bullets más a la derecha */
}

/* coaches */

.intro-coaches {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  background-color: var(--azulsuave2);
}

.intro-coaches h2 {
  font-family: var(--titulo);
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--azulQQ);
}

.intro-coaches h3 ion-icon {
  color: var(--azulQQ);
  font-size: 3em;
}

.intro-coaches p {
  font-size: 1.3em;
  line-height: 1.5;
  color: var(--azulQQ);
  font-family: var(--texto);
  margin: 0 155px;
}

.testimonial-slider {
  position: relative;
  width: 65%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 1em;
}

.testimonial-item {
  display: none; /* ocultar todos los items y mostrar solo el activo */
  text-align: center;
  padding: 20px;
  font-family: var(--texto);
}

.testimonial-item h4 {
  color: var(--azulQQ);
  font-size: 1.5em;
  color: black;
}

.testimonial-item p {
  color: var(--azulQQ);
  font-size: 1.3em;
  color: black;
}

.testimonial-carrusel {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin: 1%;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-bottom: 10%;
  text-align: left;
}

.testimonial-text h4 {
  margin-bottom: 2%;
  font-family: var(--titulo);
  font-size: 24px;
}

.testimonial-icons {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 20%;
}

.testimonial-icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.active {
  display: block; /* mostrar el item activo */
}

.fotoTestimonio {
  width: 350px;
  height: 500px;
  margin-bottom: 1em;
}

.prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.next {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

@media (min-width: 1680px) {
  .parrfInicial {
    margin-top: 30em;
  }
}

.cardsCoaches {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  margin: 20px auto;
}

/* .icon-general{
  width: 70px !important;
  height: 70px !important;
} */
