/* Incorporar la tipografía personalizada */
@font-face {
    font-family: "titulo";
    src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "texto";
    src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Variables de tipografía */
    --titulo: "titulo", sans-serif;
    --texto: "texto", sans-serif;
    --rojoQQ: #e6312f;
    --azulQQ: #2a255b;
    --grisClaro: #f9f9f9;
    --grisOscuro: #ccc;
    --sombra: rgba(0, 0, 0, 0.1);
}

*{
    font-family: var(--texto);
}

header{
    background-color: #2a255b;
}

body {
    font-family: var(--texto);
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: var(--azulQQ);
    font-family: var(--titulo);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.form-editar-servicio {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid var(--grisOscuro);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px var(--sombra);
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--azulQQ);
}

.form-input,
.form-input[type="file"],
.form-input select,
.form-input textarea {
    padding: 10px;
    border: 1px solid var(--grisOscuro);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-input:focus,
.form-input[type="file"]:focus,
.form-input select:focus,
.form-input textarea:focus {
    outline: none;
    border-color: var(--rojoQQ);
}

.form-button,
.form-button-cancel,
.form-subutton {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.form-button {
    background-color: var(--azulQQ);
    color: #fff;
}

.form-button:hover {
    background-color: rgb(250, 70, 70);
}

.form-button-cancel {
    background-color: var(--rojoQQ);
    color: #fff;
    margin-left: 10px;
}

.form-button-cancel:hover {
    background-color: var(--azulQQ);
}

.form-subutton {
    padding: 8px 15px;
    background-color: var(--azulQQ);
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
}

.form-subutton:hover {
    background-color: rgb(250, 70, 70);
}

.contenido-item,
.faq-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--grisOscuro);
    border-radius: 5px;
}

.contenido-header,
.faq-header {
    cursor: pointer;
    background-color: #dcdcdc;
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid  #6f6f6f;
    border-radius: 5px 5px 0 0;

}

.contenido-body,
.faq-body {
    display: none;
    padding: 10px;
}

h3 {
    margin: 20px 0;
    background-color: var(--grisOscuro);
    border: 1px solid var(--grisOscuro);
    padding: 10px;
    border-radius: 5px;
    color: var(--azulQQ);
    text-align: center;
}

hr{
    margin-top: 3%;
}

