/* Incorporar la tipografía personalizada */
@font-face {
    font-family: "titulo";
    src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "texto";
    src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    /* Variables de tipografía */
    --titulo: "titulo", sans-serif;
    --texto: "texto", sans-serif;
    --rojoQQ: #e6312f;
    --azulQQ: #2a255b;
  }
  
  *{
    font-family: var(--texto);
  }

.TablaFondo{
    padding: 20px;
}

  h1{
    margin-bottom: 25px;
    margin-top: 34px;
    text-align: center;
  }

  .header{
    background-color: #2a255b;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.form-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.form-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.form-box input[type="text"],
.form-box input[type="file"],
.form-box select,
.form-box textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-box button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-box button:hover {
    background-color: #45a049;
}
  