/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
  --azulsuave1: #b6add0;
  --azulsuave2: #d9d3ed;
}

/* body */
* {
  margin: 0;
  padding: 0;
}

.index {
  height: 100vh;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
  background-image: url("../../archivos/index/fondo2.jpg");
  background-size: cover;
  background-position: center;
}

.parrfInicial {
  font-family: var(--texto);
  color: white;
  margin-left: 10%;
  margin-top: 300px;
}

.titulo {
  font-family: var(--titulo);
  font-size: 42px;
  margin-bottom: 0.3em;
}

.subtitulo {
  font-family: var(--titulo);
  font-size: 32px;
  margin-bottom: 1em;
}

.txtInicial {
  width: 60%;
  font-family: var(--texto);
  font-size: 24px;
}

.btnUnete {
  background-color: var(--rojoQQ);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1em 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btnUnete:hover {
  background-color: var(--azulQQ);
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* top 5 */
.featured-events {
  margin-top: 95vh;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.featured-events h2 {
  font-family: var(--titulo);
  margin-top: 1em;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  border-bottom: 2px solid var(--rojoQQ);
  display: inline-block;
  width: fit-content;
  margin: 25px auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 30px 0;
}

.event-card {
  width: 300px;
  position: relative;
  background-color: var(--azulsuave2);
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-10px);
}

.productoTop5 {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
}

.event-card h3 {
  font-family: var(--titulo);
  font-size: 1.5rem;
  color: var(--azulQQ);
  padding: 10px;
}

.event-card p {
  font-family: var(--texto);
  padding: 10px;
  color: var(--azulQQ);
}

.event-card .event-number {
  font-family: var(--texto);
  position: absolute;
  top: -10px;
  left: 5px;
  color: var(--rojoQQ);
  font-size: 60px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.view-all-link {
  font-family: var(--texto);
  display: inline-block;
  font-size: 1.2rem;
  color: var(--azulQQ);
  text-decoration: none;
  transition: color 0.3s;
  width: fit-content;
  margin: 0 auto;
}

.view-all-link:hover {
  color: var(--rojoQQ);
}

.read-more-link {
  color: var(--azulQQ);
  text-decoration: none;
  cursor: pointer;
}

.read-more-link:hover {
  text-decoration: underline;
}

.info {
  font-family: var(--texto);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  margin-top: 1em;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  margin-bottom: 45px;
  border-bottom: 2px solid var(--rojoQQ);
}

.fila {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 3em;
  margin: 0 5em;
  position: relative;
}

.cuad1 {
  display: flex;
  justify-content: left;
  align-content: center;
  color: var(--azulQQ);
  font-size: 27px;
  font-family: var(--titulo);
  width: 40%;
  margin-bottom: 35px;
}

.cuad2 {
  background-color: var(--azulsuave1);
  color: var(--azulQQ);
  font-size: 27px;
  width: 70px;
  height: 70px;
  text-align: center;
  align-content: center;
}

.cuad3 {
  color: var(--azulQQ);
  font-size: 18px;
  font-family: var(--texto);
  width: 40%;
  margin-bottom: 5px;
}

.subAzul {
  background-color: var(--azulQQ);
  color: white;
}

.subRojo {
  background-color: var(--rojoQQ);
  color: white;
  padding: 0 5px;
}

.icono {
  width: 50px;
  height: auto;
}

.beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.beneficios h1 {
  font-family: var(--titulo);
  margin-top: 10px;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--rojoQQ);
}

.benefCuad {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.beneficio {
  font-family: var(--texto);
  font-size: 1.2em;
  color: black;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Centrar el texto horizontalmente */
}

.beneficio p {
  width: 350px;
  font-family: var(--texto);
  font-size: 1.1em;
}

.logoBenef {
  background-color: var(--azulsuave1);
  border-radius: 30%;
  padding: 10px;
  width: 70px;
  height: auto;
  margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

/* video */

.faldon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--azulQQ);
  margin-top: 40px;
  height: 500px;
}

.video-container {
  flex: 1;
  margin-right: 20px;
}

.videoFaldon {
  width: 560px;
  height: 315px;
  border-radius: 10px;
  margin-left: 50px;
}

.texto-container {
  flex: 1;
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  margin-right: 50px;
}

.texto-container h2 {
  font-family: var(--titulo);
  font-size: 2em;
  color: white;
  margin-bottom: 15px;
}

.texto-container p {
  font-family: var(--texto);
  font-size: 1.1em;
  color: white;
  line-height: 1.5;
}

/* datos */

.datos-interactivos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.datos-interactivos h2 {
  font-family: var(--titulo);
  margin-top: 10px;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--rojoQQ);
}

.infografia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dato {
  margin: 1rem;
  padding: 1rem;
  background: var(--azulsuave1);
  border-radius: 10px;
  width: 170px;
  text-align: center;
}

.dato h3 {
  font-family: var(--titulo);
  font-size: 2rem;
  margin: 0;
}

.dato p {
  font-family: var(--texto);
  font-size: 1rem;
  margin: 0;
}
/* testimonios */
.testimonios {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonios h1 {
  display: inline-block;
  font-family: var(--titulo);
  margin-top: 10px;
  color: var(--azulQQ);
  font-size: 32px;
  margin-bottom: 35px;
  border-bottom: 2px solid var(--rojoQQ);
}

.testimonial {
  display: none;
  width: 1500px; /* Ensure it takes full width */
  margin-bottom: 30px;
}

.testimonial h2,
h4 {
  font-family: var(--titulo);
  margin-bottom: 5px;
}

.testimonial p {
  font-family: var(--texto);
}

.testimonial.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fotoTestimonio {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.prevTest,
.nextTest {
  position: absolute;
  top: 125px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: var(--rojoQQ);
  transition: color 0.3s;
}

.prevTest {
  left: 150px;
}

.nextTest {
  right: 150px;
}

.prevTest:hover,
.nextTest:hover {
  color: var(--azulQQ);
}

.cta-secundaria {
  background-color: #cd2f2c;

  padding: 40px 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cta-secundaria h2 {
  font-family: var(--titulo);
  font-size: 2.5em;
  color: white;
  margin-bottom: 15px;
}

.cta-secundaria p {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  margin-bottom: 25px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  font-family: var(--texto);
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: white;
  border: 1px solid white;
  color: var(--azulQQ);
}

.carrusel-container h1 {
  margin-top: 1em;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  margin-bottom: 45px;
  border-bottom: 2px solid var(--rojoQQ);
  font-family: var(--titulo);
}

.carrusel-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto; /* Centra el contenedor horizontalmente y agrega un margen inferior */
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.carrusel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-item {
  min-width: calc(50%); /* 50% del ancho menos la mitad del gap */
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.carrusel-item img {
  padding: 5px;
  width: 100%;
  height: auto;
}

.producto-info {
  position: relative;
  text-align: center; /* Centra el texto dentro del contenedor */
}

.producto-nombre {
  font-family: var(--texto);
  position: absolute;
  top: 80%; /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejor legibilidad */
  color: white;
  padding: 5px 0;
  font-size: 1.2em; /* Ajusta el tamaño de la fuente según sea necesario */
  text-align: center; /* Centra el texto */
  width: 95%;
}

button.prev,
button.next {
  position: absolute;
  top: 350px;
  transform: translateY(-50%);
  background-color: transparent;
  border-radius: 50%;
  color: var(--rojoQQ);
  font-size: 2em;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev:hover,
button.next:hover {
  position: absolute;
  top: 350px;
  transform: translateY(-50%);
  color: var(--azulQQ);
  font-size: 2.1em;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* responsive */

@media screen and (max-width: 992px) {
  .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115vh;
    background-image: url("../../archivos/index/fondo2.jpg");
    background-size: cover;
    background-position: center;
  }

  .parrfInicial {
    font-family: var(--texto);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50vh;
  }

  .titulo {
    font-family: var(--titulo);
    font-size: 24px;
    margin-bottom: 0.3em;
  }

  .subtitulo {
    font-family: var(--titulo);
    font-size: 20px;
    margin-bottom: 1em;
  }

  .txtInicial {
    width: 100%;
    font-family: var(--texto);
    font-size: 18px;
  }

  .btnUnete {
    font-size: 18px;
  }

  .info {
    font-family: var(--texto);
    margin-top: 105vh;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info h1 {
    margin-top: 1em;
    color: var(--azulQQ);
    text-align: center;
    font-size: 24px;
    margin-bottom: 45px;
    border-bottom: none;
    display: inline-block;
  }

  .fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .cuad1 {
    color: var(--azulQQ);
    font-size: 20px;
    font-family: var(--titulo);
    width: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cuad2 {
    background-color: var(--azulQQ);
    color: var(--azulQQ);
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
  }

  .icono {
    width: 40px;
    height: auto;
    padding: 5px;
  }

  .cuad3 {
    color: var(--azulQQ);
    font-size: 15px;
    font-family: var(--texto);
    width: 90%;
    margin-bottom: 25px;
    text-align: center;
  }

  .subRojo {
    background-color: var(--rojoQQ);
    color: white;
    padding: 0 5px;
  }

  .carrusel-container h1 {
    margin-top: 1em;
    color: var(--azulQQ);
    text-align: center;
    font-size: 24px;
    margin-bottom: 45px;
    border-bottom: none;
    font-family: var(--titulo);
  }

  .carrusel-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px auto; /* Centra el contenedor horizontalmente y agrega un margen inferior */
  }

  .carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .carrusel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carrusel-item {
    min-width: calc(100%);
    box-sizing: border-box;
    padding: 5px;
    position: relative;
  }

  .carrusel-item img {
    padding: 5px;
    width: 100%;
    height: auto;
  }

  .producto-info {
    position: relative;
    text-align: center; /* Centra el texto dentro del contenedor */
  }

  .producto-nombre {
    font-family: var(--texto);
    position: absolute;
    top: 60%; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Fondo semitransparente para mejor legibilidad */
    color: white;
    padding: 5px 0;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según sea necesario */
    text-align: center; /* Centra el texto */
    width: 100%;
  }

  button.prev,
  button.next {
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 50%;
    color: var(--rojoQQ);
    font-size: 2em;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  button.prev:hover,
  button.next:hover {
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    color: var(--azulQQ);
    font-size: 2.1em;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  button.prev {
    left: 10px;
  }

  button.next {
    right: 10px;
  }

  .beneficios h1 {
    border-bottom: none;
    font-size: 24px;
  }

  .benefCuad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .beneficio {
  }
}
