/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* body */
* {
  margin: 0;
  padding: 0;
}

.index {
  height: 100vh;
  background-image: url("../../archivos/index/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../archivos/index/fondo.png");
  background-size: cover;
  background-position: center;
}

.parrfInicial {
  font-family: var(--texto);
  color: white;
  margin-left: 10%;
  margin-top: 15em;
}

.titulo {
  font-family: var(--titulo);
  font-size: 42px;
  margin-bottom: 1em;
}

.txtInicial {
  width: 60%;
  font-family: var(--texto);
  font-size: 24px;
}

.btnUnete {
  background-color: var(--rojoQQ);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1em 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btnUnete:hover {
  background-color: var(--azulQQ);
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info {
  font-family: var(--texto);
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linea-vertical {
  height: calc(100% - 150px);
  width: 2px;
  background-color: var(--rojoQQ);
  position: absolute;
  left: 50%;
  top: 52.5em;
}

.info h1 {
  margin-top: 1em;
  color: var(--azulQQ);
  text-align: center;
  font-size: 32px;
  margin-bottom: 3em;
  border-bottom: 2px solid var(--rojoQQ);
}

.fila {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin: 0 5em;
  margin-bottom: 5em;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cuad1 {
  color: var(--azulQQ);
  font-size: 27px;
  font-family: var(--titulo);
  width: 40%;
}

.cuad2 {
  background-color: var(--azulQQ);
  color: var(--azulQQ);
  font-size: 27px;
  width: 70px;
  height: 70px;
  text-align: center;
  align-content: center;
}

.cuad3 {
  color: var(--azulQQ);
  font-size: 18px;
  font-family: var(--texto);
  width: 40%;
}

.subAzul {
  background-color: var(--azulQQ);
  color: white;
}

.subRojo {
  background-color: var(--rojoQQ);
  color: white;
  padding: 0 5px;
}

.icono {
  width: 50px;
  height: auto;
}

.fotoInicio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 450px;
  margin-bottom: 3em;
}

/* testimonios */
.testimonios {
  font-family: var(--titulo);
  font-size: 3.2em;
  text-align: center;
}

.testimonial-slider {
  position: relative;
  width: 65%;
  margin: auto;
  overflow: hidden;
  border: 2px solid var(--rojoQQ);
  border-radius: 5px;
  margin-bottom: 1em;
}

.testimonial-item {
  display: none; /* ocultar todos los items y mostrar solo el activo */
  text-align: center;
  padding: 20px;
  font-family: var(--texto);
}

.testimonial-item h4 {
  color: var(--azulQQ);
  font-size: 1.5em;
}

.testimonial-item p {
  color: var(--azulQQ);
  font-size: 1.3em;
}

.active {
  display: block; /* mostrar el item activo */
}

.fotoTestimonio {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.next {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

@media (min-width: 1680px) {
  .parrfInicial {
    margin-top: 30em;
  }

  .fotoInicio {
    height: 550px;
    width: 53%;
  }
}
