/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilo general del header */
.header {
  font-family: var(--texto);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
}

.logo {
  height: 5em;
  width: auto; /* Mantener la proporción del logo */
}

.hamburger {
  display: none; /* Oculto por defecto */
  cursor: pointer;
  color: black;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.inicioRegistro {
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrar el menú en el espacio disponible */
  flex-grow: 1;
  margin: 0 20px; /* Añade margen lateral para separación */
  padding: 0;
}

.menu li {
  padding: 0 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

.inicioRegistro li a {
  text-decoration: none;
  padding: 8px 15px;
}

.menu a:hover {
  border-bottom: 3px solid var(--rojoQQ);
}

.iniciarSesion {
  padding-right: 15px;
}

.iniciarSesion a {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.iniciarSesion a:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--azulQQ);
  cursor: pointer;
}

.registro a {
  background-color: var(--azulQQ);
  border: 2px solid var(--azulQQ);
  border-radius: 5px;
  color: white;
}

.registro a:hover {
  background-color: var(--rojoQQ);
  border: 2px solid var(--rojoQQ);
  color: white;
  cursor: pointer;
}

/* footer */

.footer {
  font-family: var(--texto);
  font-size: 20px;
  background: var(--azulQQ);
  color: white;
  font-family: var(--texto);
  padding-top: 50px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.logoTexto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  align-content: center;
  width: 9em;
  height: auto;
  margin-bottom: 1em;
}

.footer-text {
  margin-bottom: 1.5em;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  display: inline-block;
  margin: 0 0.5em;
  transition: transform 0.3s ease;
}

.socials a:hover {
  transform: translateY(-0.5em);
}

.rrss {
  border: 3px solid white;
  border-radius: 50%;
  width: 2em;
  height: auto;
}

.footer-section h2 {
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul a {
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-section ul a:hover {
  background-color: var(--rojoQQ);
}

.contact-form p {
  padding: 0.5em;
}

.iconoFooter {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}

.footer-bottom p {
  background-color: #221e4e;
  color: #9a9898;
  font-family: var(--texto);
  text-align: center;
  padding: 1em 0;
  font-size: 0.5em;
}

.footer-bottom a {
  color: #9a9898;
  font-family: var(--texto);
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: var(--rojoQQ);
  transition: background-color 0.3s;
}

#popupFooter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#popupContentFooter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#closePopup:hover {
  color: red;
}
