/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* Estilos generales para el cuerpo de la página */

.miCuenta {
  height: auto;
  background-image: url("../../archivos/perfil/fondoPerfil.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  display: flex;
  height: 80vh;
}

.bienvenido {
  text-align: center;
  font-family: var(--titulo);
  margin-bottom: 1em;
}

/* Estilos para el menú lateral */
#menu2 {
  background-color: var(--azulQQ);
  color: white;
  width: 200px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: var(--texto);
  font-size: 1.3em;
  height: 500px;
}

#menu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu2 li {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#menu2 li:hover {
  background-color: var(--rojoQQ);
  border-radius: 5px;
}

.iconoMenu {
  padding: 5px 0;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: auto;
}

/* Estilos para el contenedor de contenido */
#contenido {
  flex-grow: 1;
  padding: 0 20px 0 20px;
  background-color: #f4f4f400;
  overflow-y: auto;
}

.seccion {
  display: none; /* Inicialmente oculto, se mostrará mediante JavaScript */
  padding: 20px;
  background-color: white;
  margin-bottom: 50px;
}

.seccion h1 {
  color: var(--azulQQ);
  margin-bottom: 0.5em;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--titulo);
  font-size: 1.2em;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.fotoPerfil {
  max-width: 125px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

#btnSeleccionarFoto {
  display: none;
  font-family: var(--texto);
  font-size: 1em;
  color: black;
  background-color: #ffffff00;
  border: none;
  border-bottom: 1px solid transparent; /* Añade un borde transparente inicialmente */
  cursor: pointer;
  transition: border-bottom 0.1s ease-in-out;
}

#btnSeleccionarFoto:hover {
  border-bottom: 1px solid var(--rojoQQ); /* Cambia sólo el color del borde al hacer hover */
  color: black;
  cursor: pointer;
}

.datos {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.campo {
  flex: 1; /* Permite que cada campo se expanda equitativamente */
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.campo label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campo input {
  width: 100%;
  height: 1.5em;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campo input:focus {
  border-bottom: 1.7px solid var(--azulQQ);
  box-shadow: 0 1px 0 0 var(--azulQQ);
}
/* Estilos CSS */
.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye el espacio entre los botones */
}

.acciones button {
  background-color: var(--azulQQ);
  border: 2px solid var(--azulQQ);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.acciones button:hover {
  background-color: var(--rojoQQ);
  border: 2px solid var(--rojoQQ);
  color: white;
  cursor: pointer;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos horizontalmente */
  width: 70%;
  font-family: var(--titulo);
  font-size: 1.2em;
  margin: 0 auto; /* Centra el bloque '.contacto' en el centro horizontalmente */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

.campoContacto {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%; /* Asegura que el campo ocupa el espacio disponible */
  margin-bottom: 10px; /* Espacio entre los campos */
}

.campoContacto label,
.campoContacto input,
.campoContacto textarea {
  align-self: flex-start; /* Alinea los elementos al inicio del eje transversal */
}

.campoContacto label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campoContacto input,
.campoContacto textarea {
  width: 100%;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campoContacto input {
  height: 1.5em; /* Altura específica para input */
}

.campoContacto textarea {
  height: 50px; /* Tamaño fijo para textarea */
  resize: none; /* Impide que el usuario cambie el tamaño */
}

.campoContacto input:focus,
.campoContacto textarea:focus {
  border-bottom: 1.7px solid var(--azulQQ);
  box-shadow: 0 1px 0 0 var(--azulQQ);
}

.btnEnviar {
  padding: 10px 20px;
  background-color: var(--azulQQ);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Espacio sobre el botón */
}

.clientes-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.clientes-table th,
.clientes-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.clientes-table th {
  background-color: #f2f2f2;
}

.clientes-table td {
  cursor: pointer;
}

.clientes-table tr:hover {
  background-color: #f1f1f1;
}

.clientes-table img {
  border-radius: 30%;
  width: 20%;
}

/* Fuente para el popUp de cerrar sesión */
.custom-swal-title {
  font-family: var(--texto);
}

.custom-swal-content {
  font-family: var(--texto);
}

.custom-swal-confirm {
  font-family: var(--texto);
}

.custom-swal-cancel {
  font-family: var(--texto);
}

.swal2-popup .swal2-title,
.swal2-popup .swal2-content,
.swal2-popup .swal2-confirm,
.swal2-popup .swal2-cancel {
  font-family: var(--texto);
}

.swal2-html-container {
  font-family: var(--texto);
}

.coaches-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.coaches-table th,
.coaches-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.coaches-table th {
  background-color: #f2f2f2;
}

.coaches-table tr:hover {
  background-color: #f1f1f1;
}

.coaches-table img {
  height: auto;
}

.volver {
  background-color: var(--azulQQ);
  border: 2px solid var(--azulQQ);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
  margin: 2%;
}

.volver:hover {
  background-color: var(--rojoQQ);
  border: 2px solid var(--rojoQQ);
  color: white;
  cursor: pointer;
}

/* Contenedor del formulario */
.form-container {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

/* Estilos del formulario */
.styled-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
  width: calc(50% - 10px); /* Dos columnas con un pequeño margen */
}

.form-group-full {
  width: 100%;
}

/* Etiqueta del formulario */
.form-label {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

/* Entradas del formulario */
.form-input {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Botón del formulario */
.form-button-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.form-button {
  background-color: var(--azulQQ);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button-cancel {
  background-color: var(--rojoQQ);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #1e1a47;
}

#coaches {
  margin-bottom: 5%;
}


.elementos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.elemento-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 200px;
  overflow: hidden;
}

.elemento-item img, .elemento-item video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.elemento-item iframe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-eliminar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
}

/* Contenedor general */

/* Título de la sección */

/* Tabla de datos */
.clientes-table, .productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.clientes-table th, .clientes-table td, .productos-table th, .productos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.clientes-table th, .productos-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.clientes-table tr:hover, .productos-table tr:hover {
  background-color: #f1f1f1;
}

/* Contenedor de elementos */
.elementos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.elemento-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 200px;
}

.elemento-item img, .elemento-item iframe {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-eliminar {
  background-color: #e6312f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: #b12723;
}


/* Estilos para las tablas de galerías y contenido */
.galerias-table, .contenido-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 0 auto;
  background-color: white;
}

.galerias-table th, .galerias-table td, .contenido-table th, .contenido-table td {
  border: 1px solid #ddd !important;
  padding: 8px;
  text-align: left;
}

.galerias-table th, .contenido-table th {
  background-color: #f2f2f2 !important;
  color: #333;
  font-weight: bold;
}

.galerias-table tr:nth-child(even), .contenido-table tr:nth-child(even) {
  background-color: #f9f9f9 !important;
}

.galerias-table tr:hover, .contenido-table tr:hover {
  background-color: #f1f1f1;
}

.placeholder {
  background-color: #e2e2e2 !important;
  border: 2px dashed #ccc;
  height: 50px; /* Ajustar según el tamaño de las filas */
}

/* Estilizar las cajas de servicios */
.servicios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.servicio-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 25%; /* Tres columnas con espacio entre ellas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.servicio-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.servicio-box p {
  font-size: 1.2em;
  color: #333;
}

.servicio-box:hover {
  transform: scale(1.05);
}

/* Estilizar el popup para que sea más ancho */
.swal-wide {
  width: 80% !important;
}

/* Estilizar el formulario */
.styled-form {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

/* Estilizar las cajas de servicios */
.servicios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.servicio-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 25%; /* Tres columnas con espacio entre ellas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.servicio-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.servicio-box p {
  font-size: 1.2em;
  color: #333;
}

.servicio-box:hover {
  transform: scale(1.05);
}

/* Biblioteca de medios */
.medios-table {
  width: 100%;
  border-collapse: collapse;
}

.medios-table th, .medios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.medios-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.form-container {
  display: none;
  margin-top: 20px;
}

.styled-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}
