/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0; /* Inicialmente, el popup estará oculto */
  transition: opacity 0.3s ease; /* Agrega una transición de opacidad */
}

.popup-content {
  background-color: #f9f9fa;
  margin: 5% auto;
  width: 80%;
  height: 79%;
  display: flex;
  flex-direction: row;
}

.popup-content img {
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: fit-content;
  margin-right: 1%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  height: auto;
}

.PanelIzquierdo {
  width: 30%;
}

.PanelDerecho {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.linksReedireccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 2%;
  margin-top: 1%; */
  margin: 1em 2em;
  font-family: var(--texto);
}

.loginJoin {
  align-self: flex-end;
}

.tituloBienvenido {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1%;
  font-family: var(--titulo);
}

.tituloUnete {
  text-align: center;
  margin-top: 0.5em;
  font-family: var(--titulo);
  margin-bottom: 0.5em;
}

.Subtitulo {
  font-family: var(--titulo);
  text-align: center;
  margin-bottom: 1em;
}

.CuerpoLogin {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-top: 1em;
}

.CuerpoSign {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.FormularioLogin {
  width: 70%;
}

.FormularioLogin input {
  margin-bottom: 5%;
  width: 100%;
  font-family: var(--texto);
  font-size: 0.8em;
}

.FormularioRegistro {
  width: 70%;
}

.formularioRegistroFlex {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-bottom: 2.5em;
}

.FormularioRegistro input {
  margin-bottom: 0.5em;
  width: 100%;
  font-family: var(--texto);
  font-size: 0.8em;
}

.columnaPrimeraFormularioRegistro {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.columnaSegundaFormularioRegistro {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* Animación Botón */
.botonAcceder {
  width: 100%;
  background: var(--azulQQ);
  color: #f9f9fa;
  border: none;
  position: relative;
  height: 40px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  font-family: var(--titulo);
  font-size: 1.5em;
}

.botonAcceder:hover {
  background: #f9f9fa;
  color: var(--azulQQ);
}

.botonAcceder:before,
.botonAcceder:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--azulQQ);
  transition: 800ms ease all;
}

.botonAcceder:before {
  top: 0;
  left: 0;
}

.botonAcceder:after {
  bottom: 0;
  right: 0;
}

.botonAcceder:hover:before {
  width: 100%;
  transition: 800ms ease all from left;
}

.botonAcceder:hover:after {
  width: 100%;
  transition: 800ms ease all from right;
}

.inputLogin {
  height: 50px; /* Ancho deseado */
  padding: 5px;
  border: #cccccd;
}

#JoinNow {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#JoinNow:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

#volverBtn {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#volverBtnRegistrarse {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#loginRedireccion {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#loginRedireccion:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.errorMensaje {
  color: var(--rojoQQ);
  font-size: 0.7em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.inputLogin {
  /* padding-right: 10px; Ajusta el padding según sea necesario para dejar espacio para el icono */
  width: 100%; /* El input ocupa todo el espacio disponible */
}
