/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* body */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 130px;
  flex: 1; /* Esto asegura que el main ocupe el espacio necesario y empuje el footer hacia abajo */
}

.todo {
  display: flex;
  flex-direction: column;
}

.fondoProducto {
  position: relative; /* en lugar de absolute */
  width: 100%;
  min-height: 100vh; /* en lugar de height para que se expanda según el contenido */
  background-image: url(../../archivos/productos/fondo.jpg),
    url(../../archivos/productos/BackgroundCubes_V2.svg);
  background-size: cover, cover;
  background-position: center, bottom;
  background-repeat: no-repeat, repeat;
}

.titulo {
  font-family: var(--titulo);
  color: white;
  font-size: 1.5em;
  margin: 0 350px 0 100px;
}

.contenidos {
  display: flex;
  flex-direction: row;
  margin: 10px 80px;
}

.cajaIzquierda {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex-grow: 4; /* Crece más en comparación con .cajaDerecha */
  width: 90%; /* Ajusta según el tamaño deseado */
  height: fit-content;
}

.cajaDerecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-left: 30px;
  flex-grow: 1; /* Crece menos en comparación con .cajaIzquierda */
  width: 30%; /* Ajusta según el tamaño deseado */
}

.contenedor-cajas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carrusel,
.cajaComprar {
  width: 100%;
  margin-bottom: 20px; /* Añade separación entre las cajas */
  border-radius: 8px;
  height: fit-content;
  overflow: hidden;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.descripcion {
  font-family: var(--texto);
  font-size: 1.1em;
  margin: 45px 0px;
}

.botonesPrecioComprar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--texto);
  margin-bottom: 220px;
}

.botonesPrecioComprar p {
  font-size: 1.1em;
  margin-right: 35px;
}

.btnComprar {
  padding: 5px 10px;
  font-size: 1.3em; /* Aumentado desde 1.2em a 1.3em para mantener el tamaño constante */
  background-color: var(--azulQQ);
  color: white;
  border-style: none;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btnComprar:hover {
  background-color: var(--rojoQQ);
  transform: scale(1.1);
  cursor: pointer;
}

.carrFotos {
  position: relative;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
}

.fotosVideos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 450px;
  transition: transform 0.5s ease;
}

.carrusel-item {
  width: 100%;
  flex-shrink: 0;
  display: none;
}

.carrusel-item.visible {
  display: block;
}

.btnNav {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--rojoQQ);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnNav.prev {
  left: 0px;
}

.btnNav.next {
  right: 0px;
}

.btnNav:hover {
  background-color: transparent;
  color: var(--azulQQ);
  transform: scale(1.2) translateY(-42%);
}

.menuHorizontal {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; /* Centrar horizontalmente el contenedor */
}

.menuContTest {
  display: flex;
  margin-bottom: -1px; /* Para unir visualmente las pestañas con el contenido */
  justify-content: flex-start; /* Alinear los botones a la izquierda */
}

.menuContTest button {
  padding: 10px 20px;
  font-family: var(--texto);
  font-size: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  border: 1px solid var(--azulQQ);
  border-bottom: none; /* Quitar borde inferior para unir con el contenido */
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  transform-origin: center center;
}

.menuContTest button:hover {
  background-color: var(--azulQQ);
  color: white;
}

.menuContTest button.active {
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
  border-bottom: 1px solid #ffffff; /* Unir visualmente con el contenido */
  z-index: 1;
}

.contenido,
.testimonios {
  display: none;
  padding: 20px;
  border: 1px solid var(--azulQQ);
  border-radius: 0 8px 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido.active,
.testimonios.active {
  display: block;
}

.contenidosTXT {
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.tituloCont {
  font-family: var(--titulo);
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  position: relative;
  background-color: rgb(241, 241, 250);
  border-radius: 8px 8px 0 0;
}

.tituloCont:after {
  content: "\25BC"; /* Flecha hacia abajo */
  position: absolute;
  right: 20px;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;
}

.respuestaCont {
  font-family: var(--texto);
  font-size: 1.1em;
  padding: 15px 20px;
  color: #000000;
  display: none; /* Inicialmente oculto */
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

.respuestaCont ul {
  padding-left: 15px;
}

.respuestaCont li {
  padding: 5px 0; /* Espacio entre puntos de la lista */
}

/* Clase activa que rota la flecha cuando el contenido está visible */
.tituloCont.active:after {
  transform: rotate(180deg);
}

.testimonial {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.fotoTestimonio {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial h2 {
  font-family: var(--titulo);
  font-size: 1.7em;
  margin-bottom: 5px;
}

.testimonial h4 {
  font-family: var(--titulo);
  font-size: 1.2em;
  margin-bottom: 15px;
}

.testimonial p {
  font-family: var(--texto);
  font-size: 1em;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 25px;
}

/* Contenedor del carrusel de testimonios */
#testimonios {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  justify-content: center;
}

/* Estilos básicos para botones de navegación */
.prevTest,
.nextTest {
  font-size: 1.5em;
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  color: var(--rojoQQ);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 100;
}

/* Hover efectos para los botones */
.prevTest:hover,
.nextTest:hover {
  color: var(--azulQQ);
  background-color: transparent;
}

.prevTest {
  left: 10px;
}

.nextTest {
  right: 10px;
}

/* Estilo del carrusel dentro de cajaDerecha */
#carruselCoaches {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea horizontalmente al centro */
  position: relative;
  overflow: hidden;
}

.coach {
  padding: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px; /* Asegura que el coach no sea más ancho de 800px */
  margin-top: 0; /* Asegura que no haya margen superior extra */
}

.coach.visible {
  display: flex; /* Muestra el coach activo */
}

.coach img {
  width: 190px;
  height: 250px;
  margin-bottom: 20px;
}

.coach h2 {
  font-family: var(--titulo);
  font-size: 1.4em;
}

.coach h3 {
  font-family: var(--titulo);
  font-size: 1.2em;
}

.coach p {
  text-align: left;
  font-family: var(--texto);
  font-size: 1.2em;
}

.coach h2,
.coach h3,
.coach p {
  padding: 0 10px;
  margin-bottom: 15px;
}

/* Botones de navegación ajustados al tamaño de cajaDerecha */
.prevCoaches,
.nextCoaches {
  position: absolute;
  top: 100px; /* Centra los botones verticalmente respecto a su posición */
  cursor: pointer;
  padding: 15px 0px;
  background-color: transparent;
  border: none;
  color: var(--rojoQQ);
  font-size: 1.5em; /* Icono más grande para mejor clicabilidad */
  z-index: 100;
}

.prevCoaches {
  left: 25px; /* Posiciona dentro del área visible */
}

.nextCoaches {
  right: 25px; /* Posiciona dentro del área visible */
}

.prevCoaches:hover,
.nextCoaches:hover {
  color: var(--azulQQ);
}

.cajaComprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Define la animación de flotación */

/* Define la animación de cambio de color */
@keyframes colorChange {
  0%,
  100% {
    color: var(--azulQQ); /* Azul */
  }
  50% {
    color: var(--rojoQQ); /* Rojo */
  }
}

/* Aplicar las animaciones al h1 */
.cajaComprar h1 {
  font-family: var(--titulo);
  font-size: 2em;
  margin: 10px 0;
  animation: float 2s ease-in-out infinite, colorChange 3s linear infinite;
}

.btnComprar2 {
  padding: 5px 10px;
  font-size: 1.3em; /* Aumentado desde 1.2em a 1.3em para mantener el tamaño constante */
  background-color: var(--azulQQ);
  color: white;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btnComprar2:hover {
  background-color: var(--rojoQQ);
  transform: scale(1.1);
  cursor: pointer;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 35%; /* Ajusta según sea necesario */
}

/* CSS para las FAQs */
.faqSection {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #ffffff;
}

.faqSection h2 {
  justify-content: center;
  font-family: var(--titulo);
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.faq {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--azulQQ);
  margin-left: 200px;
  margin-right: 200px;
}

.faq h3 {
  font-family: var(--titulo);
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-right: 30px;
}

.faq h3::after {
  content: "\25BC";
  font-size: 1.2em;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
  color: var(--azulQQ);
}

.faq.open h3::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq p {
  font-family: var(--texto);

  display: none;
  margin: 10px 0 0;
  font-size: 1.1em;
  color: #313131;
}

.faq.open p {
  display: block;
}
