/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* body */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 125px;
  flex: 1; /* Esto asegura que el main ocupe el espacio necesario y empuje el footer hacia abajo */
}

.fondoProducto {
  position: relative; /* en lugar de absolute */
  width: 100%;
  min-height: 100vh; /* en lugar de height para que se expanda según el contenido */
  background-image: url(../../archivos/productos/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo {
  font-family: var(--titulo);
  color: white;
  font-size: 1.5em;
  margin: 0 350px 195px 100px;
}

.contenidos {
  display: flex;
  flex-direction: row;
  margin-top: 250px;
}

.descripcion {
  font-family: var(--texto);
  font-size: 1.1em;
  margin: 45px 0;
}

.botonesPrecioComprar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: var(--texto);
  margin-bottom: 55px;
}

.botonesPrecioComprar p {
  font-size: 1.2em;
}

.btnComprar {
  margin-right: 35px;
  padding: 5px 10px;
  font-size: 1.3em;
  background-color: var(--azulQQ);
  color: white;
  border-style: none;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btnComprar:hover {
  padding: 5px 10px;
  font-size: 1.3em;
  background-color: var(--rojoQQ);
  color: white;
  border-style: none;
  border-radius: 5px;
  transform: scale(1.1);
  cursor: pointer;
}

.InformProd {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.321);
}

/* carrusel multimedia  */

.carrFotos {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.fotosVideos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  height: 550px;
  transition: transform 0.5s ease;
}

.carrusel-item {
  width: 100%;
  flex-shrink: 0;
  display: none;
}

.carrusel-item.visible {
  display: block;
}

.btnNav {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--rojoQQ);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnNav.prev {
  left: 0px;
}

.btnNav.next {
  right: 0px;
}

.btnNav:hover {
  background-color: transparent;
  color: var(--azulQQ);
  transform: scale(1.2) translateY(-42%);
}

/* contenidos del producto */

.contenidoProd {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitContenidos {
  font-family: var(--titulo);
  font-size: 2.2em;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--rojoQQ);
}

.contenidosTXT {
  width: 900px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
}

.tituloCont {
  font-family: var(--titulo);
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  position: relative;
  background-color: rgb(230, 230, 255);
  border-radius: 8px 8px 0 0;
}

.tituloCont:after {
  content: "\25BC"; /* Flecha hacia abajo */
  position: absolute;
  right: 20px;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;
}

.respuestaCont {
  font-family: var(--texto);
  font-size: 1.1em;
  padding: 15px 20px;
  color: #000000;
  display: none; /* Inicialmente oculto */
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

.respuestaCont ul {
  padding-left: 15px;
}

.respuestaCont li {
  padding: 5px 0; /* Espacio entre puntos de la lista */
}

/* testimonios */

.testimonios {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Añadido para posicionar las flechas correctamente */
  flex-direction: column;
  margin: 50px 0;
}

.titTestimonios {
  font-family: var(--titulo);
  font-size: 2.2em;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--rojoQQ);
}

.tituloCont.active:after {
  transform: rotate(180deg);
}

.testimonial {
  text-align: center;
  margin: 0 auto;
  width: 750px;
  height: fit-content;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.fotoTestimonio {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial h2 {
  font-family: var(--titulo);
  font-size: 1.7em;
  margin-bottom: 5px;
}

.testimonial h4 {
  font-family: var(--titulo);
  font-size: 1.2em;
  margin-bottom: 15px;
}

.testimonial p {
  font-family: var(--texto);
  font-size: 1em;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 25px;
}

/* Contenedor del carrusel de testimonios */
#testimonios {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  justify-content: center;
  display: flex;
}

/* Estilos básicos para botones de navegación */
.prevTest,
.nextTest {
  font-size: 1.8em;
  position: absolute;
  top: 250px;
  transform: translateY(-50%);
  color: var(--rojoQQ);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 100;
}

/* Hover efectos para los botones */
.prevTest:hover,
.nextTest:hover {
  color: var(--azulQQ);
  background-color: transparent;
}

.prevTest {
  left: 150px;
}

.nextTest {
  right: 150px;
}
