*,
.parrfInicial {
  font-family: var(--texto);
}
.next,
.prev {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.card .back,
.card .back .link a {
  color: #f3f3f3;
}
.card .back,
.card:hover .front {
  transform: rotateY(180deg);
}
@font-face {
  font-family: titulo;
  src: url("../../estilos/tipografia/FUTURA PT DEMI.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: texto;
  src: url("../../estilos/tipografia/FUTURA BOOK FONT.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}
* {
  margin: 0;
  padding: 0;
}
.index {
  height: 100vh;
  background-image: url("../../archivos/servicios/FondoPantallaServicios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parrfInicial {
  color: #fff;
  margin-left: 10%;
  margin-top: 15em;
}
.titulo {
  font-family: var(--titulo);
  font-size: 42px;
  margin-bottom: 1em;
}
.info,
.info h1,
.testimonial-item,
.txtInicial {
  font-family: var(--texto);
}
.txtInicial {
  width: 60%;
  font-size: 24px;
}
.info {
  margin-top: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h1 {
  text-align: center;
  font-size: 36px;
}
.testimonial-slider {
  position: relative;
  width: 65%;
  margin: auto auto 1em;
  overflow: hidden;
}
.card .face,
.card .front h3,
.card .front img,
.next,
.prev {
  position: absolute;
}
.testimonial-item {
  display: none;
  text-align: center;
  padding: 20px;
}
.testimonial-item h4 {
  color: var(--azulQQ);
  font-size: 1.5em;
  color: #000;
}
.testimonial-item p {
  color: var(--azulQQ);
  font-size: 1.3em;
  color: #000;
}
.next,
.prev {
  font-size: 24px;
}
.testimonial-carrusel {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin: 1%;
}
.testimonial-text {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 10%;
  text-align: left;
}
.testimonial-text h4 {
  margin-bottom: 2%;
  font-family: var(--titulo);
  font-size: 24px;
}
.testimonial-icons {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 20%;
}
.testimonial-icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.active {
  display: block;
}
.fotoTestimonio {
  width: 350px;
  height: 500px;
  margin-bottom: 1em;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
@media (min-width: 1680px) {
  .parrfInicial {
    margin-top: 30em;
  }
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.video-background .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  pointer-events: none;
}
.cardsCoaches {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}
.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}
.card .face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.7s;
  will-change: transform;
}
.card .back,
.card .front {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  bottom: 0;
  width: 100%;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.card .back {
  background: #5e6a88;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.card .back .back-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.card .back .link {
  border-top: 1px solid #f3f3f3;
  height: 50px;
  line-height: 50px;
}
.card .back h3 {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.card .back p {
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 1px;
}
.card:hover .back {
  transform: rotateY(360deg);
}
