/* Incorporar la tipografía personalizada */
@font-face {
  font-family: "titulo";
  src: url("../../estilos/tipografia/FUTURA\ PT\ DEMI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "texto";
  src: url("../../estilos/tipografia/FUTURA\ BOOK\ FONT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables de tipografía */
  --titulo: "titulo", sans-serif;
  --texto: "texto", sans-serif;
  --rojoQQ: #e6312f;
  --azulQQ: #2a255b;
}

/* Estilos generales para el cuerpo de la página */

.miCuenta {
  height: auto;
  background-image: url("../../archivos/perfil/fondoPerfil.jpg");
  background-size: cover;
  background-position: center;
}

main {
  font-family: var(--texto);
  margin: 0;
  padding: 0;

}

.bienvenido {
  text-align: center;
  font-family: var(--titulo);
  margin-bottom: 1em;
}

/* Estilos para el menú lateral */
#menu2 {
  background-color: var(--azulQQ);
  color: white;
  width: 200px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: var(--texto);
  font-size: 1.3em;
  height: 500px;
}

#menu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu2 li {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#menu2 li:hover {
  background-color: var(--rojoQQ);
  border-radius: 5px;
}

.iconoMenu {
  padding: 5px 0;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: auto;
}

/* Estilos para el contenedor de contenido */
#contenido {
  flex-grow: 1;
  padding: 0 20px 0 20px;
  background-color: #f4f4f400;
  overflow-y: auto;
}

.seccion {
  padding: 20px;
  background-color: white;
  margin-bottom: 10%;
}

.seccion h1 {
  color: var(--azulQQ);
  margin-bottom: 0.5em;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--titulo);
  font-size: 1.2em;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.fotoPerfil {
  max-width: 125px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

#btnSeleccionarFoto {
  display: none;
  font-family: var(--texto);
  font-size: 1em;
  color: black;
  background-color: #ffffff00;
  border: none;
  border-bottom: 1px solid transparent; /* Añade un borde transparente inicialmente */
  cursor: pointer;
  transition: border-bottom 0.1s ease-in-out;
}

#btnSeleccionarFoto:hover {
  border-bottom: 1px solid var(--rojoQQ); /* Cambia sólo el color del borde al hacer hover */
  color: black;
  cursor: pointer;
}

.datos {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.campo {
  flex: 1; /* Permite que cada campo se expanda equitativamente */
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.campo label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campo input {
  width: 100%;
  height: 1.5em;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campo input:focus {
  border-bottom: 1.7px solid var(--azulQQ);
  box-shadow: 0 1px 0 0 var(--azulQQ);
}
/* Estilos CSS */
.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye el espacio entre los botones */
}

.acciones button {
  background-color: var(--azulQQ);
  border: 2px solid var(--azulQQ);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.acciones button:hover {
  background-color: var(--rojoQQ);
  border: 2px solid var(--rojoQQ);
  color: white;
  cursor: pointer;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos horizontalmente */
  width: 70%;
  font-family: var(--titulo);
  font-size: 1.2em;
  margin: 0 auto; /* Centra el bloque '.contacto' en el centro horizontalmente */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

.campoContacto {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%; /* Asegura que el campo ocupa el espacio disponible */
  margin-bottom: 10px; /* Espacio entre los campos */
}

.campoContacto label,
.campoContacto input,
.campoContacto textarea {
  align-self: flex-start; /* Alinea los elementos al inicio del eje transversal */
}

.campoContacto label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campoContacto input,
.campoContacto textarea {
  width: 100%;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campoContacto input {
  height: 1.5em; /* Altura específica para input */
}

.campoContacto textarea {
  height: 50px; /* Tamaño fijo para textarea */
  resize: none; /* Impide que el usuario cambie el tamaño */
}

.campoContacto input:focus,
.campoContacto textarea:focus {
  border-bottom: 1.7px solid var(--azulQQ);
  box-shadow: 0 1px 0 0 var(--azulQQ);
}

.btnEnviar {
  padding: 10px 20px;
  background-color: var(--azulQQ);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Espacio sobre el botón */
}

/* Estilos para la tabla de clientes */
.clientes-table {
  width: 100%;
  border-collapse: collapse;
}

.clientes-table th, .clientes-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.clientes-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.clientes-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.clientes-table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.clientes-table img{

width: 70px;
border-radius:100%;
}


.archivos-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.archivos-table caption {
  font-size: 1.2em;
  font-weight: bold;
  color: #3366cc; /* Color para el título */
}

.archivos-table th {
  background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd; /* Borde inferior */
}

.archivos-table th:hover {
  background-color: #e6e6e6; /* Color de fondo cuando se hace hover sobre las celdas de encabezado */
}

.archivos-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Borde inferior */
}

.archivos-table td:nth-child(odd) {
  background-color: #f9f9f9; /* Color de fondo para las celdas impares */
}

.archivos-table td:nth-child(odd):hover {
  background-color: #f2f2f2; /* Color de fondo cuando se hace hover sobre las celdas impares */
}

.archivos-table td:nth-child(even) {
  background-color: #ffffff; /* Color de fondo para las celdas pares */
}

.archivos-table td:nth-child(even):hover {
  background-color: #f2f2f2; /* Color de fondo cuando se hace hover sobre las celdas pares */
}


.archivos-table .btn-eliminar {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.archivos-table .btn-eliminar:hover {
  background-color: #c82333;
}


caption{
  margin: 2%;
}

caption a{
  margin: 2%;
  color: var(--rojoQQ);
}


.volver {
  background-color: var(--azulQQ);
  border: 2px solid var(--azulQQ);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
  margin: 2%;
}

.volver:hover {
  background-color: var(--rojoQQ);
  border: 2px solid var(--rojoQQ);
  color: white;
  cursor: pointer;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.productos-table th,
.productos-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.productos-table thead th {
  background-color: #f2f2f2;
}

.productos-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productos-table tbody tr:hover {
  background-color: #ddd;
}

.productos-table .btn-eliminar {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.productos-table .btn-eliminar:hover {
  background-color: #c82333;
}